In [3]:
# Dependencies
import pandas as pd
import geopandas as gpd
import json
import csv

In [2]:
#Filepaths
REM = "Resources/Real_Estate_Master.csv"
GeoJSON = "Resources/nyc.geojson"

In [3]:
#REM to DF
df=pd.read_csv(REM, encoding="ISO-8859-1")

In [4]:
#Drop Columns
df1=df.drop(df.columns.to_series()['1/31/1996':'12/31/2009'], axis=1)
df2=df1.drop(columns=['RegionID','SizeRank','RegionType','StateName','Metro','CountyName'])
df5=df2.fillna(0)

In [5]:
#Average Columns
df5['avg2010']=(df5['1/31/2010']+df5['2/28/2010']+df5['3/31/2010']+df5['4/30/2010']+df5['5/31/2010']+df5['6/30/2010']
                +df5['7/31/2010']+df5['8/31/2010']+df5['9/30/2010']+df5['10/31/2010']+df5['11/30/2010']+df5['12/31/2010'])/12

df5['avg2011']=(df5['1/31/2011']+df5['2/28/2011']+df5['3/31/2011']+df5['4/30/2011']+df5['5/31/2011']+df5['6/30/2011']
                +df5['7/31/2011']+df5['8/31/2011']+df5['9/30/2011']+df5['10/31/2011']+df5['11/30/2011']+df5['12/31/2011'])/12

df5['avg2012']=(df5['1/31/2012']+df5['2/29/2012']+df5['3/31/2012']+df5['4/30/2012']+df5['5/31/2012']+df5['6/30/2012']
                +df5['7/31/2012']+df5['8/31/2012']+df5['9/30/2012']+df5['10/31/2012']+df5['11/30/2012']+df5['12/31/2012'])/12

df5['avg2013']=(df5['1/31/2013']+df5['2/28/2013']+df5['3/31/2013']+df5['4/30/2013']+df5['5/31/2013']+df5['6/30/2013']
                +df5['7/31/2013']+df5['8/31/2013']+df5['9/30/2013']+df5['10/31/2013']+df5['11/30/2013']+df5['12/31/2013'])/12

df5['avg2014']=(df5['1/31/2014']+df5['2/28/2014']+df5['3/31/2014']+df5['4/30/2014']+df5['5/31/2014']+df5['6/30/2014']
                +df5['7/31/2014']+df5['8/31/2014']+df5['9/30/2014']+df5['10/31/2014']+df5['11/30/2014']+df5['12/31/2014'])/12

df5['avg2015']=(df5['1/31/2015']+df5['2/28/2015']+df5['3/31/2015']+df5['4/30/2015']+df5['5/31/2015']+df5['6/30/2015']
                +df5['7/31/2015']+df5['8/31/2015']+df5['9/30/2015']+df5['10/31/2015']+df5['11/30/2015']+df5['12/31/2015'])/12

df5['avg2016']=(df5['1/31/2016']+df5['2/29/2016']+df5['3/31/2016']+df5['4/30/2016']+df5['5/31/2016']+df5['6/30/2016']
                +df5['7/31/2016']+df5['8/31/2016']+df5['9/30/2016']+df5['10/31/2016']+df5['11/30/2016']+df5['12/31/2016'])/12

df5['avg2017']=(df5['1/31/2017']+df5['2/28/2017']+df5['3/31/2017']+df5['4/30/2017']+df5['5/31/2017']+df5['6/30/2017']
                +df5['7/31/2017']+df5['8/31/2017']+df5['9/30/2017']+df5['10/31/2017']+df5['11/30/2017']+df5['12/31/2017'])/12

df5['avg2018']=(df5['1/31/2018']+df5['2/28/2018']+df5['3/31/2018']+df5['4/30/2018']+df5['5/31/2018']+df5['6/30/2018']
                +df5['7/31/2018']+df5['8/31/2018']+df5['9/30/2018']+df5['10/31/2018']+df5['11/30/2018']+df5['12/31/2018'])/12

df5['avg2019']=(df5['1/31/2019']+df5['2/28/2019']+df5['3/31/2019']+df5['4/30/2019']+df5['5/31/2019']+df5['6/30/2019']
                +df5['7/31/2019']+df5['8/31/2019']+df5['9/30/2019']+df5['10/31/2019']+df5['11/30/2019']+df5['12/31/2019'])/12

df5['avg2020']=(df5['1/31/2020']+df5['2/29/2020']+df5['3/31/2020']+df5['4/30/2020']+df5['5/31/2020']+df5['6/30/2020']
                +df5['7/31/2020']+df5['8/31/2020'])/8

In [6]:
#Drop Columns on Months
df=df5.drop(df5.columns.to_series()['1/31/2010':'8/31/2020'], axis=1)

In [7]:
#Convert floats to ints
convert_dict={'avg2010':int,'avg2011':int,'avg2012':int,'avg2013':int,'avg2014':int,'avg2015':int,'avg2016':int,'avg2017':int,'avg2018':int,'avg2019':int,'avg2020':int}
df2=df.astype(convert_dict)
df=df2

In [8]:
#Write to New Master CSV
df.to_csv("Cleaned_Real_Estate_Master.csv", index=False, header=True)

In [10]:
df

,RegionName,State,City,avg2010,avg2011,avg2012,avg2013,avg2014,avg2015,avg2016,avg2017,avg2018,avg2019,avg2020
0,Northeast Dallas,TX,Dallas,187787,180545,181466,195359,212015,234556,260993,285935,313257,330207,334719
1,Maryvale,AZ,Phoenix,73571,61468,70710,92066,108244,123466,141254,155709,172568,185446,202017
2,Paradise,NV,Las Vegas,133044,117870,115968,146347,170180,181782,196262,215024,253104,267667,273797
3,Upper West Side,NY,New York,837846,892519,919807,976615,1098870,1175609,1223603,1234443,1300041,1238594,1203167
4,South Los Angeles,CA,Los Angeles,248272,241323,246385,288992,318797,347449,382302,428845,481205,505128,539717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16118,Taylortowne,DE,Newark,160652,147393,131482,128755,132661,132194,147825,157560,161277,170992,174731
16119,Ashland Hills,TN,Clarksville,0,0,0,0,0,0,0,0,156423,168200,180861
16120,Heather Woods,DE,Newark,268081,244872,227637,215862,212808,206553,219143,224577,239099,245177,250968
16121,Woodmar,IN,Hammond,94052,89029,87789,88343,83499,85523,87790,94566,104412,115843,124053
16122,Royalty Acres,TN,Clarksville,125190,122664,123382,124638,133891,138873,141707,147019,161104,165819,176328

In [ ]:
######################SET UP FOR GEOJSON MERGE WITH REAL ESTATE#################################

In [9]:
#Read RegionNames from GeoJsons

with open(GeoJSON) as f:
  data = json.load(f)

x = data['features']

# #Loop to gather all neighborhoods to use in filtering data
regionname = []
for i in range(len(x)):
    regionname.append(x[i]['properties']['neighborhood'])
    #print(x[i]['properties']['neighborhood']) #USE THIS TO CONFIRM THE NEIGHBORHOODS IN GEOJSON FILES

# print(regionname)
# len(regionname)

In [24]:
fname = "Resources/nyc.geojson"

nydf = gpd.read_file(fname)

print(type(nydf))

#nydf_set=nydf.set_index('neighborhood')
nydf

<class 'geopandas.geodataframe.GeoDataFrame'>

,neighborhood,boroughCode,borough,@id,geometry
0,Allerton,2,Bronx,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.84860 40.87167, -73.84582 40.870..."
1,Alley Pond Park,4,Queens,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.74333 40.73888, -73.74371 40.739..."
2,Arden Heights,5,Staten Island,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-74.16983 40.56108, -74.16982 40.561..."
3,Arlington,5,Staten Island,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-74.15975 40.64142, -74.15998 40.641..."
4,Arrochar,5,Staten Island,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-74.06078 40.59319, -74.06079 40.593..."
...,...,...,...,...,...
305,Windsor Terrace,3,Brooklyn,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.98006 40.66075, -73.97988 40.660..."
306,Woodhaven,4,Queens,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.86233 40.69596, -73.85654 40.697..."
307,Woodlawn,2,Bronx,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.85947 40.90052, -73.85926 40.900..."
308,Woodrow,5,Staten Island,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-74.17728 40.54063, -74.17723 40.539..."
309,Woodside,4,Queens,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.90087 40.75767, -73.90014 40.756..."

In [45]:


fname = "Resources/san-francisco.geojson"

chidf = gpd.read_file(fname)

#nydf_set=nydf.set_index('neighborhood')
chidf

df2=chidf.drop(columns=['fclass','countryCode','geonameid','created_at','cartodb_id','updated_at','fcode', 'lat', 'parents','adminCode4','lng','adminCode2','adminCode3'])
df2
austin_df_sort=df2.sort_values('name', ascending=True)
austin_df=austin_df_sort.rename(columns={'name':'neighborhood'})
austin_df

,neighborhood,adminCode1,geometry
18,Bayview,CA,"MULTIPOLYGON (((-122.38811 37.74780, -122.3881..."
7,Bernal Heights,CA,"MULTIPOLYGON (((-122.42825 37.73179, -122.4281..."
34,Castro/Upper Market,CA,"MULTIPOLYGON (((-122.44644 37.76104, -122.4464..."
9,Chinatown,CA,"MULTIPOLYGON (((-122.40877 37.79016, -122.4088..."
13,Crocker Amazon,CA,"MULTIPOLYGON (((-122.42085 37.70833, -122.4238..."
21,Diamond Heights,CA,"MULTIPOLYGON (((-122.43553 37.74146, -122.4356..."
5,Downtown/Civic Center,CA,"MULTIPOLYGON (((-122.40891 37.79013, -122.4088..."
6,Excelsior,CA,"MULTIPOLYGON (((-122.44082 37.71646, -122.4382..."
30,Financial District,CA,"MULTIPOLYGON (((-122.39425 37.80007, -122.3942..."
36,Glen Park,CA,"MULTIPOLYGON (((-122.42418 37.74226, -122.4239..."
28,Golden Gate Park,CA,"MULTIPOLYGON (((-122.45469 37.77470, -122.4530..."
11,Haight Ashbury,CA,"MULTIPOLYGON (((-122.43596 37.76904, -122.4368..."
17,Inner Richmond,CA,"MULTIPOLYGON (((-122.44646 37.77580, -122.4546..."
20,Inner Sunset,CA,"MULTIPOLYGON (((-122.45144 37.75874, -122.4514..."
22,Lakeshore,CA,"MULTIPOLYGON (((-122.47105 37.70820, -122.4728..."
1,Marina,CA,"MULTIPOLYGON (((-122.44681 37.80540, -122.4467..."
32,Mission,CA,"MULTIPOLYGON (((-122.42476 37.74785, -122.4249..."
3,Nob Hill,CA,"MULTIPOLYGON (((-122.41861 37.78891, -122.4219..."
19,Noe Valley,CA,"MULTIPOLYGON (((-122.42558 37.75662, -122.4249..."
10,North Beach,CA,"MULTIPOLYGON (((-122.41063 37.80972, -122.4109..."
31,Ocean View,CA,"MULTIPOLYGON (((-122.45912 37.70822, -122.4597..."
12,Outer Mission,CA,"MULTIPOLYGON (((-122.45428 37.70822, -122.4545..."
26,Outer Richmond,CA,"MULTIPOLYGON (((-122.47874 37.78690, -122.4778..."
35,Outer Sunset,CA,"MULTIPOLYGON (((-122.47601 37.74868, -122.4758..."
2,Pacific Heights,CA,"MULTIPOLYGON (((-122.44683 37.78725, -122.4472..."
29,Parkside,CA,"MULTIPOLYGON (((-122.46964 37.73855, -122.4706..."
16,Potrero Hill,CA,"MULTIPOLYGON (((-122.37996 37.75206, -122.3827..."
33,Presidio,CA,"MULTIPOLYGON (((-122.44798 37.80697, -122.4478..."
4,Presidio Heights,CA,"MULTIPOLYGON (((-122.46260 37.78904, -122.4609..."
23,Russian Hill,CA,"MULTIPOLYGON (((-122.42095 37.80897, -122.4206..."
0,Seacliff,CA,"MULTIPOLYGON (((-122.48409 37.78791, -122.4843..."
15,South of Market,CA,"MULTIPOLYGON (((-122.38742 37.78050, -122.3874..."
24,Treasure Island/YBI,CA,"MULTIPOLYGON (((-122.37313 37.83225, -122.3686..."
25,Twin Peaks,CA,"MULTIPOLYGON (((-122.46142 37.75156, -122.4603..."
27,Visitacion Valley,CA,"MULTIPOLYGON (((-122.39498 37.70841, -122.3996..."
14,West of Twin Peaks,CA,"MULTIPOLYGON (((-122.45252 37.72317, -122.4569..."
8,Western Addition,CA,"MULTIPOLYGON (((-122.42221 37.77291, -122.4232..."

In [46]:
df_loc = df.loc[df['City'] == 'San Francisco']
df_sort=df_loc.sort_values('RegionName', ascending=True)
df_rename = df_sort.rename(columns={'RegionName': 'neighborhood'})
#df_set=df_rename.set_index('neighborhood')
df_rename

,neighborhood,State,City,avg2010,avg2011,avg2012,avg2013,avg2014,avg2015,avg2016,avg2017,avg2018,avg2019,avg2020
5025,Alamo Square,CA,San Francisco,699698,648093,684491,806142,927263,1045523,1101449,1140429,1244423,1248195,1297928
6654,Anza Vista,CA,San Francisco,769290,735848,785291,927157,1030891,1145092,1219696,1296032,1428491,1450450,1481647
11005,Balboa Terrace,CA,San Francisco,1189388,1091924,1140321,1363920,1549193,1633105,1666078,1795995,2055302,2008181,2034875
995,Bayview,CA,San Francisco,493526,446010,439474,522360,627724,733414,803851,853501,926676,971087,999649
818,Bernal Heights,CA,San Francisco,865994,826666,863250,1026510,1190331,1343592,1407339,1428823,1572746,1555932,1588222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4145,Upper Market,CA,San Francisco,938380,886085,971025,1122263,1254238,1382952,1499989,1588199,1709854,1740084,1831568
1116,Visitacion Valley,CA,San Francisco,544288,497648,506158,607096,679231,756923,788913,829743,894020,919017,944475
973,Western Addition,CA,San Francisco,725492,681104,712996,850458,964777,1097795,1138500,1169350,1290412,1306376,1344587
13224,Westwood Highlands,CA,San Francisco,931912,886449,928500,1074948,1264277,1456548,1567831,1624359,1783176,1737601,1800062
6967,Westwood Park,CA,San Francisco,833985,783126,837430,983213,1099303,1221831,1281760,1381900,1605613,1638361,1672105

In [47]:
#Merge
pd.merge(austin_df,df_rename).to_file("san-francisco.geojson", driver='GeoJSON')

In [ ]:
#Change key Column to one label
#set index on that label
#pd.merge(df,df).to_file("master.geojson", driver='GeoJSON')

In [4]:
fname1 = "MASTER/san-francisco.geojson"
fname2 = "MASTER/chicago.geojson"
fname3 = "MASTER/nyc.geojson"
fname4 = "MASTER/austin.geojson"

sf = gpd.read_file(fname1)
chi = gpd.read_file(fname2)
nyc = gpd.read_file(fname3)
austin = gpd.read_file(fname4)

In [5]:
sf
sf1=sf.drop(columns=['adminCode1'])
sf1.head()

,neighborhood,State,City,avg2010,avg2011,avg2012,avg2013,avg2014,avg2015,avg2016,avg2017,avg2018,avg2019,avg2020,geometry
0,Bayview,CA,San Francisco,493526,446010,439474,522360,627724,733414,803851,853501,926676,971087,999649,"MULTIPOLYGON (((-122.38811 37.74780, -122.3881..."
1,Bernal Heights,CA,San Francisco,865994,826666,863250,1026510,1190331,1343592,1407339,1428823,1572746,1555932,1588222,"MULTIPOLYGON (((-122.42825 37.73179, -122.4281..."
2,Chinatown,CA,San Francisco,1201970,1109513,1180471,1352433,1433305,1505338,1552080,1549690,1605672,1617705,1571142,"MULTIPOLYGON (((-122.40877 37.79016, -122.4088..."
3,Crocker Amazon,CA,San Francisco,598796,561498,579349,684826,778553,829591,873949,906555,1037073,1083398,1122689,"MULTIPOLYGON (((-122.42085 37.70833, -122.4238..."
4,Diamond Heights,CA,San Francisco,764962,713029,762437,875363,992159,1108427,1202779,1242415,1344981,1376739,1427679,"MULTIPOLYGON (((-122.43553 37.74146, -122.4356..."

In [6]:
chi.head()

,neighborhood,State,City,avg2010,avg2011,avg2012,avg2013,avg2014,avg2015,avg2016,avg2017,avg2018,avg2019,avg2020,geometry
0,Albany Park,IL,Chicago,247852,223185,211759,236297,262444,273868,295540,312300,321774,312693,312326,"MULTIPOLYGON (((-87.70404 41.97355, -87.70403 ..."
1,Andersonville,IL,Chicago,334956,311644,301330,334099,355669,373568,387764,409918,417422,417281,427871,"MULTIPOLYGON (((-87.66114 41.97630, -87.66132 ..."
2,Archer Heights,IL,Chicago,148379,131164,128336,137558,155930,167387,181294,196869,207363,208126,221654,"MULTIPOLYGON (((-87.71437 41.82604, -87.71436 ..."
3,Ashburn,IL,Chicago,157737,139485,132357,134103,142674,151142,161251,175065,179030,180807,186947,"MULTIPOLYGON (((-87.71255 41.75734, -87.71252 ..."
4,Avalon Park,IL,Chicago,164496,169283,151318,166399,171360,147073,149232,144506,136229,138210,125911,"MULTIPOLYGON (((-87.58566 41.75150, -87.58475 ..."

In [7]:
nyc1=nyc.drop(columns=['boroughCode','borough','@id',])
nyc1.head()

,neighborhood,State,City,avg2010,avg2011,avg2012,avg2013,avg2014,avg2015,avg2016,avg2017,avg2018,avg2019,avg2020,geometry
0,Arden Heights,NY,New York,363796,354269,344311,351177,363088,369753,390965,433861,473288,480433,479654,"POLYGON ((-74.16983 40.56108, -74.16982 40.561..."
1,Arrochar,NY,New York,428131,414631,395200,398548,416573,431512,468098,517597,576400,592421,578712,"POLYGON ((-74.06078 40.59319, -74.06079 40.593..."
2,Arverne,NY,New York,273226,264715,269113,271098,246015,269579,290250,313677,341862,364245,371005,"POLYGON ((-73.78953 40.59997, -73.78954 40.599..."
3,Astoria,NY,New York,349928,361837,365509,389963,432495,486875,554257,607919,639033,650897,652779,"POLYGON ((-73.90160 40.76777, -73.90270 40.766..."
4,Bath Beach,NY,New York,304865,313451,316966,333895,358763,388327,414607,438408,466038,473127,465998,"POLYGON ((-73.99381 40.60195, -73.99962 40.596..."

In [8]:
austin1=austin.drop(columns=['adminCode1'])
austin1.head()

,neighborhood,State,City,avg2010,avg2011,avg2012,avg2013,avg2014,avg2015,avg2016,avg2017,avg2018,avg2019,avg2020,geometry
0,Allandale,TX,Austin,346340,347473,365387,414223,471341,499515,532806,550270,578049,611273,639609,"MULTIPOLYGON (((-97.74358 30.36134, -97.74218 ..."
1,Barton Hills,TX,Austin,390377,388005,415512,463927,527954,573072,609253,634963,650718,687730,723430,"MULTIPOLYGON (((-97.79630 30.23414, -97.79758 ..."
2,Bouldin Creek,TX,Austin,367469,369113,394951,448423,535302,574892,610878,632283,659394,712075,759106,"MULTIPOLYGON (((-97.75962 30.24211, -97.76031 ..."
3,Brentwood,TX,Austin,275064,271263,288746,322999,370062,397255,426310,443496,454037,467573,498607,"MULTIPOLYGON (((-97.72354 30.33038, -97.72371 ..."
4,Chestnut,TX,Austin,234182,226860,241993,274024,329942,366509,391187,403466,423247,445397,466637,"MULTIPOLYGON (((-97.71991 30.27379, -97.72010 ..."

In [9]:
frames = [sf1,chi,nyc1,austin1]
result = pd.concat(frames)
result

,neighborhood,State,City,avg2010,avg2011,avg2012,avg2013,avg2014,avg2015,avg2016,avg2017,avg2018,avg2019,avg2020,geometry
0,Bayview,CA,San Francisco,493526,446010,439474,522360,627724,733414,803851,853501,926676,971087,999649,"MULTIPOLYGON (((-122.38811 37.74780, -122.3881..."
1,Bernal Heights,CA,San Francisco,865994,826666,863250,1026510,1190331,1343592,1407339,1428823,1572746,1555932,1588222,"MULTIPOLYGON (((-122.42825 37.73179, -122.4281..."
2,Chinatown,CA,San Francisco,1201970,1109513,1180471,1352433,1433305,1505338,1552080,1549690,1605672,1617705,1571142,"MULTIPOLYGON (((-122.40877 37.79016, -122.4088..."
3,Crocker Amazon,CA,San Francisco,598796,561498,579349,684826,778553,829591,873949,906555,1037073,1083398,1122689,"MULTIPOLYGON (((-122.42085 37.70833, -122.4238..."
4,Diamond Heights,CA,San Francisco,764962,713029,762437,875363,992159,1108427,1202779,1242415,1344981,1376739,1427679,"MULTIPOLYGON (((-122.43553 37.74146, -122.4356..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,West Congress,TX,Austin,162694,162633,165144,188161,227354,250410,286843,302825,317711,336018,366858,"MULTIPOLYGON (((-97.77509 30.21752, -97.77476 ..."
40,Windsor Hills,TX,Austin,144565,135356,138779,154102,174513,193010,226193,253155,261295,277794,304779,"MULTIPOLYGON (((-97.67739 30.35166, -97.67899 ..."
41,Windsor Park,TX,Austin,204490,195172,206241,243139,288878,315396,338821,358434,382959,392748,415874,"MULTIPOLYGON (((-97.67075 30.30853, -97.67203 ..."
42,Wooten,TX,Austin,217064,207887,215782,239042,273487,305250,343614,361838,375863,389181,412113,"MULTIPOLYGON (((-97.71987 30.36918, -97.71981 ..."
43,Zilker,TX,Austin,424491,418092,444189,504925,586826,630042,662744,683739,706431,759539,816712,"MULTIPOLYGON (((-97.78234 30.24362, -97.78448 ..."

In [10]:
result.to_file("MASTER.geojson", driver='GeoJSON')